#button8::before {
    content: " * ";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;

}

section{
    padding-top: 10vh;          /* * rand oben */
}


form {

        display: flex;              
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    border: 10px double black;
    width: 50vw;
    margin: auto auto;

    text-align: center;

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

article {
    padding: 5vh 5vw 5vw 5vw;
}

article:nth-of-type(3) {
    display: flex;
    justify-content: center;
    width: 35vw;
    flex-wrap: wrap;
}

article:nth-of-type(2) {
    background-color: rgba(172, 221, 172, 0.05);
    padding-bottom: 5vh;
    width: 25vw;
    color: rgb(112, 5, 5);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-size: 2rem;

    background-color: rgba(255, 0, 0, 0.197);
}

button:hover{
    background-color: rgba(172, 255, 47, 0.485)
}

button:active{
color: greenyellow;
font-size: 2.6rem;
overflow: hidden;       /* * da 2.6 rem zu groß für Reset Button, 
                        *  wird der überlauf bzw. was er zu groß ist
                        *  versteckt  */
}


/* ****************** media Queries  Start  ************* */

@media only screen and (max-width: 600px) {
    html { max-width: 600px;
    }

    section{
        padding-top: 1vh;
    }

form{
    width: 90vw;
    height: 98vh;
}



article:nth-of-type(3){
    width: 70vw;
}

article:nth-of-type(2){
    width: 60vw;
}





/*  */
}/*  */
/* ****************** media Queries  Ende  ************* */

/* ****************** media Queries  Start  370 px  ************* */

@media only screen and (max-width: 370px) {

    html { max-width: 370px; }



form{
    width: 98vw
}

article:nth-of-type(1){
    margin-top: -10vh;  /* * rückt alles weiter hoch */
}

article:nth-of-type(3){
    width: 95vw
}

article:nth-of-type(2){
    width: 65vw

}






/* ****************** media Queries  Ende  370 px  ************* */